:root{
    --grayColor: #bbbbbb;
    --BlackColor: #000;
    --WhiteColor: #fff;
    --hoverOrangeColor: #c78c19;
    --primaryColor: #fefefe;
    --BgBTN: orange;
    --bgBTNhover:rgb(230, 130, 9);
    --beneficiosColor:#888888;
    --activeColor:#42c719;
    --produtosHover:#c78c19;
    --headerColor:#bbbbbb;
}
  
.produtos {
    width: 100%;
    padding: 2.5rem 0px;
    display: flex;
    justify-content: space-around;
}

.produtos li { 
    width: 30%;
    text-align: center;
    vertical-align: top; 
    box-sizing: border-box;
    border: var(--BlackColor) solid 3px;
    border-radius: 20px;
        display: flex;
    flex-direction: column;
}

.produtos li:hover {
    border-color: var(--produtosHover);
}

.produtos li:active {
    border-color: var(--activeColor);
}

.produtos li:hover h2 {
    font-size: calc(1.25rem + 10%);
}

.produtos h2 {
    margin-top: 12px;
    font-size: 1.25rem;
    font-weight: bold;
}

.description {
    font-size: 1em;
}

.price {
    font-weight: bold;
    font-style: 1.5em;
    margin-top: 10px;
    padding-bottom: 1em;
}
 
/*------media queries-------*/

 @media screen and (max-width:500px) {
 
    nav li{
        display: block;
        text-align: center;
        margin: 0 0 10px 0;
    }
    .produtos{
        flex-direction: column;
    }
    .produtos li{
        width: 62%;
        margin: 1em auto;
    }
 }

 @media screen and (max-width:695px) {
    .box{
        flex-direction: column;
    }
 }